.v-switch__track {
  background-color: rgb(var(--v-theme-purple)) !important;
}
.v-switch__thumb {
  transform: none !important;
}

.v-list {
  background-color: rgb(var(--v-theme-box)) !important;
}
